<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <%- include("./partials/header") %>
        <p>Tipo De Producto: <input type="text" name="tipoproducto"></p>
        <p>Nombre Del Producto: <input type="text" name="nombredelproducto"></p>
        <p>Modelo Del Producto: <input type="text" name="modelodelproducto"></p>
        <p>Color: <input type="text" name="colordelproducto"></p>
        <p>Precio: <input type="number" name="numero" step="any">
            Moneda:
            <select name="Moneda">
                <option>Reales</option>
                <option>Dolares</option>
                <option>Euros</option>
                <option>Pesos</option>
            </select>
        </p>
        <p><input type="text" name="texto" placeholder="Descripcion Del Producto"></p>
        <input type="submit" value="Publicar">
        <%- include("./partials/footer") %>
</body>

</html>