<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/themes.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles-desktop.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles-tablets.css" type="text/css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>Mirrorlens</title>
  </head>
  <body>
    <header class="header">
      <div class="container bbw">
        <div class="logo">
          <h1>Mirrorlens</h1>
        </div>

        <nav class="nav-bar">
          <a href="#">Creá tu cuenta</a>
          <a href="#">Ingresá</a>
          <a href="#">Mis Compras</a>
          <a href="#">Contacto</a>
        </nav>

        <div class="icon-menu">
          <i class="fas fa-ellipsis-v icon-points"></i>
        </div>
      </div>
      <div class="container">
        <div class="div-searchbar">
          <input type="text" placeholder="Search..." class="searchbar" />
        </div>
        <!-- <div class="div-icon-search">
          <i class="fas fa-search icon-search"></i>
        </div> -->
      </div>
    </header>
  </body>
</html>
