<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/themes.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="/css/home.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles-tablets.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles-desktop.css" type="text/css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>Mirrorlens</title>
  </head>
  <body>
    <header class="header">
      <div class="header-container bbw">
        <div class="logo">
          <h1>Mirrorlens</h1>
        </div>

        <nav class="nav-bar">
          <a href="#">Creá tu cuenta</a>
          <a href="#">Ingresá</a>
          <a href="#">Mis Compras</a>
          <a href="#">Contacto</a>
        </nav>

        <div class="left-icon-menu">
          <i class="fas fa-search icon-search"></i>
        </div>

        <div class="right-icon-menu">
          <i class="fas fa-bars icon-bars"></i>
          <i class="fas fa-shopping-cart icon-shop"></i>
        </div>

        <div class="right-icon-menu-desktop">
          <i class="fas fa-search icon-search"></i>
          <i class="far fa-heart icon-search"></i>
          <i class="far fa-user icon-search"></i>
          <i class="fas fa-shopping-cart icon-search"></i>
        </div>

      </div>
    </header>
    <main class="home-container">
      <section class="pv">
          <h2 class="font-heading">Basado en tu última visita</h2>
          <section class="article-container"> 
              <div class="wrapper">
                  <article class="product">
                      <img src="/images/lentes-lacoste-originales" class="w-100" alt="">
                      <div class="product-content">
                          <i class="fas fa-truck truck-icon text-green b border-green font-medium p"></i>
                          <p class="price font-medium">$ 6.770</p>
                          <p class="discount text-green font-medium">40% OFF</p>
                          <h3 class="description font-large">Cafetera Moulinex</h3>
                      </div>
                  </article>
              </div>
  </body>
</html>
