<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/themes.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="/css/home.css" type="text/css" />
     <link rel="stylesheet" href="/css/prod.css" type="text/css" />
    
    <link rel="stylesheet" href="/css/styles-tablets.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles-desktop.css" type="text/css" />
    <link rel="stylesheet" href="/css/home-tablets.css" type="text/css" />
    <link rel="stylesheet" href="/css/home-desktop.css" type="text/css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>Mirrorlens</title>
  </head>
  <body>
    <header class="header">
      <div class="header-container bbw">
        <div class="logo">
          <h1>Mirrorlens</h1>
        </div>

        <nav class="nav-bar">
          <a href="#">Creá tu cuenta</a>
          <a href="#">Ingresá</a>
          <a href="#">Mis Compras</a>
          <a href="#">Contacto</a>
        </nav>

        <div class="left-icon-menu">
          <i class="fas fa-search icon-search"></i>
        </div>

        <div class="right-icon-menu">
          <i class="fas fa-bars icon-bars"></i>
          <i class="fas fa-shopping-cart icon-shop"></i>
        </div>

        <div class="right-icon-menu-desktop">
          <i class="fas fa-search icon-search"></i>
          <i class="far fa-heart icon-search"></i>
          <i class="far fa-user icon-search"></i>
          <i class="fas fa-shopping-cart icon-search"></i>
        </div>

      </div>
    </header>
    <main class="prod-container">
      <article>
        <section class="main-product">
            <div class="modelos">
            <img src="/images/lentes-de-sol-rusty-bruk1.jpg">
            <img src="/images/lentes-de-sol-rusty-bruk2.jpg">
          <img src="/images/lentes-de-sol-rusty-bruk1.jpg"></div>
              <div class="image-product">
                <img src="/images/lentes-de-sol-rusty-bruk.jpg"  alt="imagen principal"> 
              </div>
                <div class="product-description">
                  
                    <h1>Ray Ban Aviator</h1>
                    <div class="star">
                    <i class="far fa-star"></i> <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    </div>
                    <P class="price">$15.000</P>
                    <P class="description">Comodos y modernos lentes Ray Ban aviator con marco dorado en distintos colores</P>
                    <div class="button">
                    <p>
                    
                    <button type="submit" name="comprar" id=""><p>Comprar ahora</p> </button>
                    </p>
                    </div>



                    </div> 
                
              </article>
           
       </section> 
        <section class="related-products">
          <h2>Productos Relacionados</h2>


          <div class="productos2"> 

          <div class="prod2">
          <img src="/images/descarga (3).jpg" alt="">
            <div>
              <i></i>
              <h3>Ray Ban Hexagonal</h3>
              <p>Modernos Ray Ban Hexagonal unisex</p>
                        </div>
  
            </div>
             
          <div class="prod2">
          <img src="/images/descarga (3).jpg" alt="">
            <div>
              <i></i>
              <h3>Ray Ban Hexagonal</h3>
              <p>Modernos Ray Ban Hexagonal unisex</p>
                        </div>
  
            </div>
            <div class="prod2">
          <img src="/images/descarga (3).jpg" alt="">
            <div>
              <i></i>
              <h3>Ray Ban Hexagonal</h3>
              <p>Modernos Ray Ban Hexagonal unisex</p>
                        </div>
  
            </div>

           </div>  
            </section>
        </section>
    </main>
</body>
</html>