<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/themes.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="/css/home.css" type="text/css" />
     <link rel="stylesheet" href="/css/prod.css" type="text/css" />
    
    <link rel="stylesheet" href="/css/styles-tablets.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles-desktop.css" type="text/css" />
    <link rel="stylesheet" href="/css/home-tablets.css" type="text/css" />
    <link rel="stylesheet" href="/css/home-desktop.css" type="text/css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>Mirrorlens</title>
  </head>
  <body>
      <header class="header">
    <div class="header-container bbw">
      <h1 class="logo"><a href="/views/home.html"><img src="/images/logo2.png" alt="" /></a></h1>
      <nav class="nav-bar">
        <a href="/views/register.html">Creá tu cuenta</a>
        <a href="/views/login.html">Ingresá</a>
        <a href="#">Mis Compras</a>
        <a href="#">Contacto</a>
      </nav>

      <div class="left-icon-menu">
        <i class="fas fa-bars icon-bars"></i>
      </div>

      <div class="right-icon-menu">
        
        <i class="fas fa-shopping-cart icon-shop"></i>
      </div>

      <div class="right-icon-menu-desktop">
        <i class="fas fa-search icon-search"></i>
        <i class="far fa-heart icon-search"></i>
        <i class="far fa-user icon-search"></i>
        <i class="fas fa-shopping-cart icon-search"></i>
      </div>

    </div>
  </header>
    <main class="prod-container">
      <article>
        <section class="main-product">
            <div class="modelos">
            <img src="/images/lentes-de-sol-rusty-bruk1.jpg">
            <img src="/images/lentes-de-sol-rusty-bruk2.jpg">
          <img src="/images/lentes-de-sol-rusty-bruk1.jpg"></div>
              <div class="image-product">
                <img src="/images/lentes-de-sol-rusty-bruk.jpg"  alt="imagen principal"> 
              </div>
                <div class="product-description">
                  
                    <h1>Ray Ban Aviator</h1>
                    <div class="star">
                    <i class="far fa-star"></i> <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    </div>
                    <P class="price">$15.000</P>
                    <P class="description">Comodos y modernos lentes Ray Ban aviator con marco dorado en distintos colores</P>

                    <p class="button-position">
                    <button class="button"type="submit" name="comprar" id=""><p>Comprar ahora</p> </button>
                    </p>
                  



                    </div> 
                
              </article>
           
       </section> 
        <section class="related-products">
          <h2>Productos Relacionados</h2>


          <div class="productos2"> 

          <div class="prod2">
          <img src="/images/descarga (3).jpg" alt="">
            <div>
              <i></i>
              <h3>Ray Ban Hexagonal</h3>
              <p>Modernos Ray Ban Hexagonal unisex</p>
                        </div>
  
            </div>
             
          <div class="prod2">
          <img src="/images/descarga (3).jpg" alt="">
            <div>
              <i></i>
              <h3>Ray Ban Hexagonal</h3>
              <p>Modernos Ray Ban Hexagonal unisex</p>
                        </div>
  
            </div>
            <div class="prod2">
          <img src="/images/descarga (3).jpg" alt="">
            <div>
              <i></i>
              <h3>Ray Ban Hexagonal</h3>
              <p>Modernos Ray Ban Hexagonal unisex</p>
                        </div>
  
            </div>

           </div>  
            </section>
    <footer>
        <section class="footer-wrapper">
          <div class="footer-items">
            <div class="footer-block">
              <h2 class="footer-block-tittle">More Information</h2>
              <div class="footer-block-content">
                <ul class="footer-menu">
                  <li>Mirrorlens</li>
                  <li class="footer-menu-li">Our Brands</li>
                  <li class="footer-menu-li">Work With Us</li>
                  <li class="footer-menu-li">Payment Methods</li>
                  <li class="footer-menu-li">Contact Us</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="footer-items">
            <div class="footer-block">
              <h2 class="footer-block-tittle">How Can We Help?</h2>
              <div class="footer-block-content">
                <ul class="footer-menu">
                  <li>Get Support</li>
                  <li class="footer-menu-li">Track Orders</li>
                  <li class="footer-menu-li">Track Return</li>
                  <li class="footer-menu-li">Accepted Payment Methods</li>
                  <li class="footer-menu-li">FAQ</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="footer-items">
            <div class="footer-block">
              <h2 class="footer-block-tittle">About Us</h2>
              <div class="footer-block-content">
                <ul class="footer-menu">
                  <li>Legal Direction:</li>
                  <li>Calle Falsa 123, CABA</li>
                  <li class="footer-menu-li">Contact Mails:</li>
                  <li>Ecommerce@mirrorlens.com.ar</li>
                  <li>Branch@mirrorlens.com.ar</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="footer-items">
            <div class="footer-block">
              <h2 class="footer-block-tittle">Follow Us</h2>
              <div class="footer-block-content">
                <ul class="footer-menu-icons">
                  <li><i class="fab fa-facebook-square"></i></li>
                  <li><i class="fab fa-instagram-square"></i></li>
                  <li><i class="fab fa-twitter-square"></i></li>
                  <li><i class="fab fa-linkedin"></i></li>
                  <li><i class="fas fa-envelope-square"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </footer>




    </main>
</body>
</html>