<!DOCTYPE html>
<html lang="en">

<head>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
          href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto&display=swap"
          rel="stylesheet"
        />
        
        <link rel="stylesheet" href="/css/themes.css" type="text/css" />
        <link rel="stylesheet" href="/css/styles.css" type="text/css" />
        <link rel="stylesheet" href="/css/home.css" type="text/css" />
        
        <link rel="stylesheet" href="/css/styles-tablets.css" type="text/css" />
        <link rel="stylesheet" href="/css/styles-desktop.css" type="text/css" />
        <link rel="stylesheet" href="/css/home-tablets.css" type="text/css" />
        <link rel="stylesheet" href="/css/home-desktop.css" type="text/css" />
        <link
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          rel="stylesheet"
        />
        <title>Mirrorlens</title>
     
</head>

<body>
    <header class="header">
        <div class="header-container bbw">
          <div class="logo">
            <h1><a href="/views/home.html"><img src="/images/logo2.png" alt="" width="150px"/></a></h1>
          </div>
  
          <nav class="nav-bar">
            <a href="/views/register.html">Creá tu cuenta</a>
            <a href="/views/login.html">Ingresá</a>
            <a href="#">Mis Compras</a>
            <a href="#">Contacto</a>
          </nav>
  
          <div class="left-icon-menu">
            <i class="fas fa-search icon-search"></i>
          </div>
  
          <div class="right-icon-menu">
            <i class="fas fa-bars icon-bars"></i>
            <i class="fas fa-shopping-cart icon-shop"></i>
          </div>
  
          <div class="right-icon-menu-desktop">
            <i class="fas fa-search icon-search"></i>
            <i class="far fa-heart icon-search"></i>
            <i class="far fa-user icon-search"></i>
            <i class="fas fa-shopping-cart icon-search"></i>
          </div>
  
        </div>
    </header>
    <section>
        <main class="container-content">
            <form action="crear-producto" method="post" class="create-form">
                <div class="control-form">
                    <input type="text" name="nombre" placeholder="Nombre y apellido" class="control">
                </div>
                <div class="control-form">
                    <input type="text" name="user" placeholder="Nombre de usuario" class="control">
                </div>
                <div class="control-form">
                    <input type="email" name="mail" placeholder="E-mail" class="control">
                </div>
                <div class="control-form">
                    <label>Fecha de nacimiento</label>
                    <input type="date" name="birdate" class="control">
                </div>
                <div class="control-form">
                    <input type="text" name="direction" placeholder="Domicilio" class="control">
                </div>
                <label><strong>Perfil del usuario</strong></label>
                <div class="control-form-content">
                    <label>Comprador</label>
                    <input type="radio" name="buy">
                    <label>Vendedor</label>
                    <input type="radio" name="buy">
                </div>
                <label><strong>Intereses</strong></label>
                <div class="control-form-content-int">
                    <input type="checkbox" name="categories" value="Electro">
                    <label>Electro</label>
                </div>
                <div class="control-form-content-int">
                    <input type="checkbox" name="categories" value="Moda">
                    <label>Moda</label>
                </div>
                <div class="control-form-content-int">
                    <input type="checkbox" name="categories" value="Hogar">
                    <label>Hogar</label>
                </div>
                <div class="control-form-content-int">
                    <input type="checkbox" name="categories" value="Juguetería">
                    <label>Juguetería</label>
                </div>
                <div class="control-form-content-int">
                    <input type="checkbox" name="categories" value="Vida Sana">
                    <label>Vida Sana</label>
                </div>
                <div class="control-form">
                    <label>Seleccioná una foto de perfil:</label>
                    <input type="file" name="avatar" accept="image/*" class="control">
                </div>
                <div class="control-form">
                    <input type="password" name="pass" placeholder="Contraseña" class="control">
                </div>
                <div class="control-form">
                    <input type="password" name="pass" placeholder="Confirmar Contraseña" class="control">
                </div>
                <button type="reset" class="button-form">Borrar</button>
                <button type="submit" class="button-form">Enviar</button>
            </form>
        </main>
        <footer class="footer">
            
        </footer>
</body>

</html>