@media (min-width: 768px) {
    .nav-bar {
        display: block;
    }
    .icon-menu {
        display: none;
    }

    .logo {
        order: -1;
    }

    .right-icon-menu {
        display: none;
    }

    .left-icon-menu {
        display: none;
    }

    .right-icon-menu-desktop {
        display: inline-block;
    }
    .header-container {
        flex-wrap: nowrap;
    }
    .nav-bar a {
        font-size: 12px;
        padding: 8px;
    }
    .right-icon-menu-desktop i {
        padding: 5px;
        font-size: 15px;
    }

    .div-slider {
        margin-top: 180px;
    }
    .footer-wrapper {
        display: flex;
    }
    .footer-items {
        max-width: 400px;
    }
}
