/* ESTILOS COMUNES */
body{
  background-color: #e7e7e7;
}


.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}

.p {
  padding: 16px;
}

.pt {
  padding-top: 16px;
}

.pv {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pvs{
  padding: 4px 0px;
}

.b {
  border-width: 1px;
  border-style: solid;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.bbw {
  border-bottom: solid white 1px;
}

.bbb {
  border-bottom: solid black 1px;
}

.font-small{
  font-size: 14px;
}

.font-medium{
  font-size: 18px;
}

.font-large{
  font-size: 1.5em;
}

/* HEADER */

.header {
  padding: 15px;
  width: 100%;
  background: rgb(31, 31, 31);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  text-align: center;

  order: 2;
}

.logo h1 {
  color: white;
  font-weight: 400;
  font-size: 400;
  cursor: default;
}

.left-icon-menu {
  display: inline-block;
  border-radius: 25px;
  position: relative;
  order: 1;
}
.right-icon-menu {
  padding: 5px 0px;
  display: inline-block;
  border-radius: 25px;
  position: relative;
  order: 3;
}

.right-icon-menu-desktop{
  display: none;
}

.icon-bars {
  font-size: 22px;
  color: white;
}

.icon-shop {
  font-size: 20px;
  padding: 0px 2px;
  color: white;
}

.icon-search {
  color: white;
  padding: 10px;
  font-size: 20px;
}

.nav-bar {
  float: right;

  display: none;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  line-height: normal;
  font-size: 14px;
  transition: all 500ms ease;
  border-bottom: 4px solid transparent;
}

.nav-bar a:hover {
  color: violet;
  border-bottom: 4px solid violet;
}

.div-searchbar {
  padding-top: 10px;
}

.searchbar {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.div-icon-search {
  margin: auto;
  padding-top: 10px;
  display: inline-block;
  justify-self: center;
  text-align: center;
}

/* FOOTER */
