@media(min-width: 1200px){
    .nav-bar{
        display: block;
    }
    .icon-menu{
        display: none;
    }

    .logo{
        order:-1
    }

    .right-icon-menu{
        display: none;
    }

    .left-icon-menu{
        display: none;
    }

    .right-icon-menu-desktop{
        display: inline-block;
    }
}