<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>

</head>

<body>
    <%- include("./partials/header") %>
        <section>
            <main class="container-content">

                <div class="button-gf">
                    <button type="submit" class="button-g"><i class="fab fa-google"
                            style="margin-right: 20px;"></i>Continuar con
                        Google</button>
                    <button type="submit" class="button-g"><i class="fab fa-facebook-square"
                            style="margin-right: 20px;"></i>Continuar con
                        Facebook</button>
                </div>

                <form action="/register" method="post" class="create-form">

                    <div class="control-form">
                        <label>Nombre y apellido:</label>
                        <input type="text" name="name" class="control">


                    </div>
                    <div class="control-form">
                        <label>Nombre de usuario:</label>
                        <input type="text" name="user" class="control">

                    </div>
                    <div class="control-form">
                        <label>Correo electrónico:</label>
                        <input type="text" name="mail" class="control">

                    </div>
                    <div class="control-form">
                        <label>Fecha de nacimiento:</label>
                        <input type="date" name="birdate" class="control">
                    </div>
                    <div class="control-form">
                        <label>Domicilio:</label>
                        <input type="text" name="direction" class="control">

                    </div>


                    <div class="control-form">
                        <label>Contraseña:</label>
                        <input type="password" name="pass" class="control ">

                    </div>
                    <div class="control-form">
                        <label>Confirmar Contraseña:</label>
                        <input type="password" name="repass" class="control ">

                    </div>
                    <button type="submit" class="button-form">Crear cuenta</button>
                </form>

            </main>
            <%- include("./partials/footer") %>
</body>

</html>